.cart-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cart-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .cart-items li {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-items li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .remove-item {
    background-color: #e74c3c;
    color: #fff;
    height: fit-content;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .remove-item:hover {
    background-color: #c0392b;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
  }
  
  .cart-total a {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cart-total a:hover {
    background-color: #2980b9;
  }
  